body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(149, 221, 255);
    height: 500px;
}

*{
    box-sizing: border-box;
}

nav{
    height: 70px;
    background-color: rgb(134, 160, 232);
    line-height: 72px;

}

.home-img{
    margin-top: 6px;
}

nav::after{
    content: "";
    display: block;
    clear: both;
}
.nav-title{
    float: left;
    margin: 0;
}
.nav-menu{
    float:right;
    
}

.nav-btn{
    list-style-type: none;
    margin: 0;
  
}

ul.nav-btn>li {
    float: left;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
  
}

.container{
   width:1000px;
   height: auto;
   min-height: 100%;
   margin: 0 auto; 
   /* padding-bottom: 50px; */
  
}

a{
    text-decoration: none;
    color: black;
}

.hd{
    position: relative;
    height: 600px;
    text-align: center;
    
}

.hd-title{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 100px;

}

.list{
    margin-top: 45px;
}

.hd::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1000px;
    opacity: 0.5;
    background-image: url("../pic/멋사.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}




.hd .container{
    position: relative;
    color: black;
}

.ft{
    padding: 10px;
    text-align: right;
    background-color: rgb(192, 212, 243);
    height: 50px;
    color: white;
    font-size: 9px;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 500px;
}

.inner{
    margin: 0;
    padding: 0;
    height: 580px;
    display: inline;
}

#sec img{
    width: 250px;
    height: 250px;
    margin-top: 80px;
    display: inline;
    border-radius: 100px;
    
}


#sec{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-left: 500px;
    border-bottom: solid 5px white;
    margin-top: ;
}

#sec p{
       margin-top: 40px;
        padding-left: 150px;
        margin-top: 150px;
        font-weight: bold;
}

.sec-img{
    width: 100px;
   
}



.list h1{
    font-size: 40px;
    
}

.card-box {
    border-radius: 16px;
    width: 200px;
    max-width: 280px;
    height: 300px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    transition: 0.5s;
}

.card-box:hover {
    transform: scale(0.95);
}

.container {
    text-align: center;
   
}

.img-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.text-wrap {
    position: absolute;
    bottom: 0;
    padding: 24px;
    text-align: left;

}

.text-wrap h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 8px;
}

.text-wrap p {
    color: #fff;
    font-size: 11px;
    line-height: 1.5;
    margin: 0;
}

.play-btn {
    background: rgb(44, 24, 173) url(../pic/playbutton.png) no-repeat center;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    right: 24px;
    top: 24px;
    border-radius: 50px;


}

h1 {
    font-size: 15px;
    color: rgb(8, 18, 28);
}

.text-wrap p {
    font-size: 10px;
}
